<div class="form-holder">
  <form class="search-form" id="search-form">
    <input
      type="text"
      class="search-form__input"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="search-form__btn" type="submit">Search</button>
  </form>
</div>
<div class="gallery">
  <!-- Карточки изображений -->
</div>
<button type="button" hidden class="load-more">Load more</button>
<button type="button" hidden class="to-start-btn">Up to start</button>
